.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.idea
.vscode
CMakeLists.txt
CMakeListsPrivate.txt
CMakeListsUser.txt
cmake-build-*
/include/version.h
/data_embed/*.out
/src/TTGO_T-Beam_LoRa_APRS.ino.cpp
